.about_me{
    border: 1px solid #898989;
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    margin-top: 20px;

}

.about_me_img{
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

.about_me p{
    text-align: justify;
}