*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #f0eeee;
}

.navbar-default{
    background-color: rgb(40, 67, 107) !important;
}

.navbar{
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0 !important;
}

.navbar-brand{
    font-size: 20px;
}

.navbar-nav > li > a{
    font-size: 18px;
}

/*-----Main Content-----*/

.col-md-8{
    margin-top: 20px !important;
}

/* -----Blog posts-----*/

.blog-container{
    border: 1px solid #898989;
    border-radius: 4px;
    padding: 12px 20px;
    margin-bottom: 20px;
    background-color: white;
}

.blog-meta-data{
    display: flex;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid #898989;
}

.blog-meta-data .author{
    color: rgb(0, 26, 255);
    font-size: 16px;
}

.blog-meta-data .date_added{
    font-size: 10px;
}

/*-----sidebar-----*/
.content-section{
    border: 1px solid #898989;
    border-radius: 4px;
    padding: 20px;
    background-color: white;
}

/*-----flash messages-----*/

.flash_message{
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.flash_message.success{
    background-color: rgb(172, 252, 179);
}

.flash_message.error{
    background-color: rgb(245, 106, 106);
}

