{% extends "base.html"%}

{% block head %}
{{super()}}

{% endblock %}

{% block content %}

<div class="about_me">
    <img src="static/img/asukapfp.jpg" alt="" width="200" class="about_me_img">
    <p>My name is Yahir and I'm a 22 year old college student going into my last
        semester of (as of 12/22/2025) Computer Science and Cognitive Studies.
       Some stuff I am interested in include anything about philosophy, psychology, 
       neuroscience, and computers. 
    </p>
    <p><strong>What made you major in CS and Cog?</strong></p>
    <p>The main reason that I majored in CS and then Cog was due to the fact that my 
        university does not have a neuroscience major. So I just chose the next sciency thing that seemed 
        interesting. Even though I am in CS, Neuroscience is the field I have been wanting to 
        get into since I was 16. Now 6 years later, I am still not officially studying neuroscience but 
        I'm still not giving up. After I graduate, I will see what options I have to continue my education 
        in either CS or neuroscience or maybe both.
    </p>
    <p></p>
</div>


{% endblock %}