{% extends "base.html"%}

{% block head %}
{{super()}}

{% endblock %}

{% block content %}

<div class="about_me">
    <img src="static/img/asukapfp.jpg" alt="" width="200" class="about_me_img">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat quos officia delectus necessitatibus voluptatibus itaque eligendi nihil incidunt dolorem. Dolor voluptatem deleniti iusto dicta culpa ipsa, ipsum non quam eius?
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ex ullam molestiae temporibus, voluptate dolores maxime quas eius doloribus quisquam quo voluptatibus iusto corporis corrupti totam esse labore unde tenetur est!
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati magnam quas ut id quibusdam sunt, est velit nobis eum error sit at molestias odio suscipit corrupti provident natus perspiciatis reprehenderit. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus odio repellendus impedit similique reiciendis, eveniet, accusamus est incidunt cupiditate pariatur, iusto provident ad. Consequatur numquam, magni id provident rerum aperiam?
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi possimus facere illum 
        soluta rerum molestiae veniam amet. Beatae, accusantium necessitatibus in quo sit saepe mollitia! Id asperiores assumenda facilis dicta?
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta, est rerum fuga quos, maxime incidunt exercitationem inventore voluptatum sed eveniet aliquid, eligendi commodi cum porro obcaecati tenetur in hic quibusdam?
    </p>
</div>


{% endblock %}