{% extends "base.html" %}

{% block content %}
<form method="POST" action=" {{url_for('posts.add_blog')}} ">
    <div class="form-group">
        <label for="author">Author: </label>
        <input type="text" class="form-control" id="author" name="author" value="Yahir Orozco">
    </div>
    <div class="form-group">
        <label for="title">Title: </label>
        <input type="text" class="form-control" id="title" name="title">
    </div>
    <div class="form-group">
        <label for="content">Content: </label>
        <textarea rows="4" cols="50" id="content" class="form-control" name="content"></textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-default">Submit</button> 
    </div>
       
</form>
{% endblock%}