{% extends "base.html" %}

{% block title %}Yblog{% endblock %}

{% block content %}

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                {% if category == "success" %}
                    <div class="flash_message success">
                        {{ message }}
                    </div>
                {% else %}
                    <div class="flash_message error">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}

    {% for post in posts | reverse %}
    
    <div class="blog-container">
        <div class="blog-meta-data text-muted">
            <p class="author"> {{ post.author }}</p>
            <p class="date_posted"> {{ post.date_posted }}</p>
        </div>
        <div class="article-content">
            <h1 class="blog-title">{{ post.title }}</h1>
            <p class="blog-content">{{ post.content }}</p>
        </div>
    </div>
    
        
    {% endfor %}
{% endblock content%}